@import url("@fontsource/cabin/variable.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
  font-family: "CabinVariable", sans-serif;
}
html {
  width: 100%;
  height: 100%;
  @apply bg-slate-800;
}
body {
  width: 210mm;
  height: 297mm;
  @apply mx-auto;
  /* change the margins as you want them to be. */
}

@media print {
  @page {
    width: 210mm;
    height: 297mm;
    margin: 0;
  }
}
